Repository morewings/cra-template-npm-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, stylelint --fix --quiet

.lintstagedrc:

{
  "*.js": [
    "eslint --fix --quiet"
  ],
  "*.pcss": [
    "stylelint --fix --quiet"
  ]
}

add postcss
  .github/workflows/merge-jobs.yml
  .github/workflows/pull-request-jobs.yml
  .gitignore
  .lintstagedrc
  .stylelintrc
  package.json
  postcss.config.js
  src/lib/Counter/Counter.module.css
  src/lib/Counter/Counter.module.pcss
  yarn.lock
Due: eslint --fix --quiet, stylelint --fix --quiet

make package scripts framework agnostic
  package.json
Due: none

make package scripts framework agnostic (#802)
  package.json
Due: none

1.3.0
  package.json
Due: none

Update Readme badges
  README.md
Due: none

1.3.1
  package.json
Due: none

Add SWC package
  package.json
  yarn.lock
Due: none

Update prepare.js
  prepare.js
Due: eslint --fix --quiet

add typescript
  .eslintrc
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/environment/App/App.spec.js
  src/environment/App/App.tsx
  src/environment/App/index.ts
  src/index.tsx
  src/lib/Counter/Counter.spec.js
  src/lib/Counter/Counter.tsx
  src/lib/Counter/index.ts
  src/lib/Counter/useLogic.spec.js
  src/lib/index.ts
  src/react-app-env.d.ts
  src/types.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix --quiet

fix
  .husky/pre-commit
  .nvmrc
Due: none

fin
  .eslintrc.cjs
  .stylelintrc
  cleanFiles.js
  copyFiles.js
  package.json
  pnpm-lock.yaml
  prepare.js
  rollup.config.js
  src/environment/App/App.spec.tsx
  src/environment/App/__snapshots__/App.spec.tsx.snap
  src/lib/Counter/Counter.spec.tsx
  src/lib/Counter/__snapshots__/Counter.spec.tsx.snap
  src/lib/Counter/__snapshots__/useLogic.spec.ts.snap
  src/lib/Counter/useLogic.spec.ts
  src/lib/Counter/useLogic.ts
  src/setupTests.js
  src/setupTests.ts
  templateFiles.js
  tsconfig.json
  writeTemplateConfig.js
Due: eslint --fix --quiet

init
  .nvmrc
Due: none

actions
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
Due: none

actions
  .github/workflows/pull-request-jobs.yml
Due: none

Add typescript (#880)
  .eslintrc
  .eslintrc.cjs
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-jobs.yml
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  cleanFiles.js
  copyFiles.js
  jsconfig.json
  package.json
  pnpm-lock.yaml
  prepare.js
  rollup.config.js
  src/environment/App/App.spec.tsx
  src/environment/App/App.tsx
  src/environment/App/__snapshots__/App.spec.tsx.snap
  src/environment/App/index.ts
  src/index.tsx
  src/lib/Counter/Counter.spec.tsx
  src/lib/Counter/Counter.tsx
  src/lib/Counter/__snapshots__/Counter.spec.tsx.snap
  src/lib/Counter/__snapshots__/useLogic.spec.ts.snap
  src/lib/Counter/index.ts
  src/lib/Counter/useLogic.spec.ts
  src/lib/Counter/useLogic.ts
  src/lib/index.ts
  src/react-app-env.d.ts
  src/setupTests.js
  src/setupTests.ts
  src/types.d.ts
  templateFiles.js
  tsconfig.json
  writeTemplateConfig.js
  yarn.lock
Due: eslint --fix --quiet

fix pnpm
  pnpm-lock.yaml
Due: none

silence error
  .github/workflows/pull-request-jobs.yml
Due: none

add ts build
  .gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  rollup.config.js
  src/lib/Counter/Counter.tsx
  tsconfig.build.json
Due: eslint --fix --quiet

add ts build
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  src/lib/Counter/Counter.tsx
  templateFiles.js
  writeTemplateConfig.js
Due: eslint --fix --quiet

Add ts build (#881)
  .gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  rollup.config.js
  src/lib/Counter/Counter.tsx
  templateFiles.js
  tsconfig.build.json
  writeTemplateConfig.js
Due: eslint --fix --quiet

clean up unused files and dependencies
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  babel.config.rollup.js
  docs/Develop.stories.mdx
  docs/Documentation.stories.mdx
  docs/Install.stories.mdx
  docs/Intro.stories.mdx
  docs/Linters.stories.mdx
  docs/Publish.stories.mdx
  docs/Style.stories.mdx
  docs/Test.stories.mdx
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  templateFiles.js
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix --quiet

clean up unused files and dependencies (#882)
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  babel.config.rollup.js
  docs/Develop.stories.mdx
  docs/Documentation.stories.mdx
  docs/Install.stories.mdx
  docs/Intro.stories.mdx
  docs/Linters.stories.mdx
  docs/Publish.stories.mdx
  docs/Style.stories.mdx
  docs/Test.stories.mdx
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  templateFiles.js
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix --quiet

add storybook
  .eslintrc.cjs
  .github/workflows/pull-request-jobs.yml
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/lib/Counter/Counter.mdx
  src/lib/Counter/Counter.stories.mdx
  src/lib/Counter/Counter.stories.ts
  src/lib/Counter/Counter.tsx
Due: none

add storybook (#883)
  .eslintrc.cjs
  .github/workflows/pull-request-jobs.yml
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/lib/Counter/Counter.mdx
  src/lib/Counter/Counter.stories.mdx
  src/lib/Counter/Counter.stories.ts
  src/lib/Counter/Counter.tsx
Due: none

fix ci
  .github/workflows/pull-request-jobs.yml
Due: none

clean up
  .github/workflows/pull-request-jobs.yml
  README.md
  package.json
  pnpm-lock.yaml
  templateFiles.js
  tsconfig.json
  writeTemplateConfig.js
Due: eslint --fix --quiet

add banner
  README.md
  design/banner.ai
  design/banner.png
Due: none

clean up
  README.md
  design/banner.ai
  design/banner.png
Due: none

fix
  package.json
Due: none

fix docs
  README.md
Due: none

2.0.0
  package.json
Due: none

fix docs
  README.md
  package.json
Due: none

2.0.1
  package.json
Due: none

add SASS/SCSS support
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  src/lib/Counter/Counter.module.scss
  src/lib/Counter/Counter.tsx
  src/types.d.ts
Due: none

WIP: add Tailwind support, BROKEN
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  rollup.config.cjs
  src/environment/App/App.tsx
  src/environment/App/__snapshots__/App.spec.tsx.snap
  src/environment/App/index.css
  src/lib/Counter/Counter.module.css
  src/lib/Counter/Counter.tsx
  src/lib/Counter/__snapshots__/Counter.spec.tsx.snap
  src/lib/index.css
  src/lib/index.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix --quiet

fix lint
  .eslintrc.cjs
  tsconfig.json
Due: none

clean up
  rollup.config.cjs
Due: none

Add styled components example
  .lintstagedrc
  .stylelintrc
  package.json
  pnpm-lock.yaml
  rollup.config.cjs
  src/environment/App/__snapshots__/App.spec.tsx.snap
  src/lib/Counter/Counter.style.ts
  src/lib/Counter/Counter.tsx
  src/lib/Counter/__snapshots__/Counter.spec.tsx.snap
  src/setupTests.ts
Due: none

bump versions
  package.json
  pnpm-lock.yaml
Due: none
